* { margin: 0%; padding: 0%; border: none; outline: 0rem; box-sizing: border-box; text-decoration: none; }
html { font-size: 62.5%; }
.container { width: 90%; margin: auto; }
section { padding: 5rem 0rem; }
.h-1 { font-size: 10rem; line-height: 1.3; font-family: "Dancing Script", cursive; font-weight: 500; }
.h-2 { font-size: 7rem; font-weight: 500; line-height: 1.3; font-family: "Dancing Script", cursive; }
.h-3 { font-size: 5rem; font-family: "Open Sans Condensed", sans-serif; }
.s-h { font-size: 3rem; font-family: "Dancing Script", cursive; }
p { font-size: 2.2rem; font-family: "Open Sans", sans-serif; }
header { background: url("../img/header-bg.png") 0% 0% / 100% 100% no-repeat; color: white; position: relative; }
nav {font-family: "Open Sans", sans-serif; width: 100%; background-color: rgb(46, 48, 52); top: 0%; display: flex; justify-content: space-between; align-items: center; left: 0%; z-index: 99; padding: 1rem 0rem; position: relative; }
.logo { width: 8rem; height: 6rem; position: relative; top: 0rem; left: 0%; }
.logo:hover img { transform: scale(1.1); }
.logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
.logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
.menu { width: 91%; height: auto; position: relative; top: -4rem; left: 14%; display: flex; }
.menu ul { position: absolute; width: 90%; display: flex; list-style: none; justify-content: space-evenly; padding: 0px; left: 3%; top: 0%; }
.menu li { }
.menu a { color: white; text-decoration: none; font-size: 2.2rem; text-transform: uppercase; padding: 1rem 1.5rem; position: relative; margin: 0rem 2rem; }
.menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
.menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -5%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
.menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
.search-part { position: relative; top: -1rem; right: -3%; width: 28%; height: auto; }
.search-part form { position: absolute; top: 0%; left: 0%; width: 100%; border: 0.2rem solid white; border-radius: 5rem; }
#search { width: 65%; padding: 1rem; background-color: transparent; border: none; color: white; }
.search-part input[type="submit"] { width: 34%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; }
.navbar .mobile-nav-btn { position: relative; top: -3rem; left: 92%; width: 2.5rem; height: 2.5rem; display: none; }
.mobile-nav-btn .mobile-navbar-icon { font-size: 3rem; color: white; position: absolute; width: 100%; height: 100%; border: 0.2rem solid white; }
.mobile-navbar-icon[name="close-outline"] { display: none; }
.hero { width: 100%; height: 100%; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto; place-items: center; gap: 3rem; }
.h-writing p:nth-child(2) { padding: 8rem 0rem 2rem; font-size: 2.5rem; font-style: italic; font-weight: 800; }
.h-btn { padding: 3rem 0rem; }
.h-btn button { padding: 0.8rem 3rem; font-size: 1.8rem; border-radius: 5rem; background-color: rgb(255, 255, 255); font-weight: 700; transition: all 1s linear 0s; animation: 2s linear 0s infinite normal none running btn; cursor: pointer; }
@keyframes btn { 
  0% { transform: scale(1); }
  50% { transform: scale(1.1); background-color: rgb(251, 6, 6); }
  100% { transform: scale(1); }
}
.h-btn button:hover { animation: 0s ease 0s 1 normal none running none; }
.h-writing p:last-child { width: 75%; text-align: justify; }
.h-img { position: relative; width: 100%; height: 65rem; }
.h-img img:nth-child(1) { width: 47rem; height: 47rem; position: absolute; top: 5rem; left: 11%; }
.h-img img:nth-child(2) { position: absolute; left: -13%; top: 40rem; animation: 10s linear 0s infinite normal none running bati; width: 18rem; height: 18rem; }
@keyframes bati { 
  100% { transform: rotate(360deg); }
}
.h-leaf img { position: absolute; top: -34rem; right: 0%; width: 55rem; height: 49rem; }
.h-leaf { width: 80%; height: 2rem; position: relative; margin-left: auto; }
.s-1-writing { text-align: center; }
.s-1-writing p { padding: 5rem 0rem; width: 50%; margin: auto; }
.s-1-b-p { display: grid; grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); grid-template-rows: auto; gap: 5rem; justify-content: center; padding-top: 5rem; }
.s-1-b { text-align: center; }
.s-1-b img { width: 84%; }
.s-1-b h2 { text-align: justify; padding-left: 7rem; font-size: 3rem; padding-top: 2rem; }
.s-1-b p { text-align: justify; padding: 1rem 3rem 4rem 7rem; }
.s-1-btn { display: grid; justify-content: center; align-items: center; width: 100%; padding-top: 9rem; }
.s-1-btn button {padding: 1.3rem 5rem;cursor: pointer;font-size: 2.4rem;text-transform: uppercase;font-weight: 600;letter-spacing: 0.3rem;border-radius: 5rem;background-color: rgb(52, 52, 52);color: white;transition: all 0.4s linear 0s;}
.s-1-btn button:hover { background-color: rgb(204, 31, 31); box-shadow: gray 0.2rem 0.2rem 0.5rem; }
#s-2 { background: rgb(39, 41, 44); color: white; }
.s-2 h2 { text-align: center; }
.s-2-b-p { padding: 6rem 0rem; column-count: 2; column-gap: 7rem; text-align: justify; column-rule: dashed; }
.s-2-b p { font-family: Montserrat, sans-serif; }
.s-2-btn { width: 100%; display: grid; justify-content: center; padding-top: 7rem; }
.s-2-btn button { cursor: pointer; padding: 1rem 3rem; font-size: 2.2rem; font-weight: 600; letter-spacing: 0.2rem; text-transform: uppercase; border-radius: 5rem; transition: all 0.6s linear 0s; font-family: Montserrat, sans-serif; }
.s-2-btn button:hover { transform: scale(1.1); box-shadow: gray 0.2rem 0.2rem 0.5rem; }
.s-3-row1 { width: 100%; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto; align-items: center; justify-content: center; text-align: center; margin: auto; }
.s-3-row1-img { padding-top: 5rem; }
.s-3-row1-img img { width: 100%; }
.s-3-row1-writing { text-align: start; }
.s-3-row1-writing h3 { width: 70%; }
.s-3-row1-writing p { padding: 2rem 0rem 4rem; width: 74%; text-align: justify; }
.s-3-row1 button {cursor: pointer;padding: 1rem 3rem;font-size: 2.5rem;font-weight: 600;border-radius: 5rem;background: rgb(0, 0, 0);color: white;transition: all 1.4s linear 0s;animation: 2s linear 0s infinite normal none running btn;}
.s-3-row1-img:nth-child(2) { text-align: start; }
.s-3-row1-img:nth-child(2) img { text-align: start; }
.s-3-row1-writing:nth-child(1) { }
.s-3-row1-writing:nth-child(1) h3 { padding-left: 8rem; margin: auto; }
.s-3-row1-writing:nth-child(1) p { text-align: start; margin-left: auto; padding: 2rem 0rem 4rem; }
.s-3-row1-writing:nth-child(1) button { position: relative; right: -26%; }
#s-4 { background: url("../img/header-bg.png") 0% 0% / 100% 100% no-repeat; height: auto; }
.cover-img { position: relative; bottom: 104rem; }
.cover-img img { width: 100%; position: absolute; top: 0rem; left: 0%; }
.s-4-writing { text-align: center; color: white; }
.s-4-writing h3 { font-size: 6rem; }
.s-4-writing p { width: 71%; margin: auto; padding: 7rem 0rem; font-family: Montserrat, sans-serif; }
.s-4-img { position: relative; bottom: 17rem; left: 4%; text-align: end; width: 100%; height: 55rem; }
.s-4-img img { position: absolute; top: 15rem; left: 14%; width: 79%; height: 85rem; }
.s-5-b-p { padding-top: 14rem; display: grid; grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); grid-template-rows: auto; gap: 6rem; align-items: center; justify-content: center; }
.s-5-b h4 { font-size: 4.5rem; padding: 2rem 3rem; }
.s-5-b p { color: gray; }
.s-5-writing { padding-top: 12rem; width: 51%; margin: auto; text-align: center; }
.s-5-writing p:nth-child(1) { }
.s-5-writing p:nth-child(2) { padding-top: 6rem; font-weight: 600; }
#s-6 { background-color: rgb(39, 41, 44); text-align: center; color: white; }
.s-6-writing p { padding: 4rem 0rem; width: 50%; margin: auto; }
.s-6-form form #email { width: 35%; padding: 1rem; border-radius: 5rem 0rem 0rem 5rem; font-size: 1.8rem; }
.s-6-form input[type="submit"] { padding: 1rem 2rem; border-radius: 5rem; position: relative; left: -2rem; background-color: rgb(84, 82, 79); color: white; font-weight: 600; font-size: 1.8rem; text-transform: uppercase; }
#s-7 { font-family: Montserrat, sans-serif; }
.s-7 { width: 90%; display: grid; margin: auto; grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr)); justify-items: end; gap: 4rem; }
.details { grid-column: 1 / 3; }
.details h6 { font-size: 4rem; }
.details p { padding: 2rem 0rem; }
.details-icon-part { color: black; height: 2rem; }
.details-icon-part a i { color: white; font-size: 2rem; margin: 0.5rem; }
.details-icon-part a i::before { padding: 0.8rem; background-color: rgb(52, 52, 52); border-radius: 5rem; }
.about h6 { font-size: 2.6rem; text-transform: uppercase; }
.about ul { padding: 2rem 0rem; list-style: none; }
.about li { padding: 1rem 0rem; }
.about a { font-size: 2rem; color: gray; }
.services h6 { font-size: 2.6rem; text-transform: uppercase; }
.services ul { list-style: none; padding: 2rem 0rem; }
.services li { padding: 1rem 0rem; }
.services a { font-size: 2rem; color: gray; }
.others h6 { font-size: 2.6rem; text-transform: uppercase; }
.others ul { padding: 2rem 0rem; list-style: none; }
.others li { padding: 1rem 0rem; }
.others a { font-size: 2rem; color: gray; }
@media (min-width: 1200.5px) and (max-width: 1439px) {
  html { font-size: 53%; }
}
@media (min-width: 1023.5px) and (max-width: 1200.5px) {
  html { font-size: 45%; }
}
@media (min-width: 769px) and (max-width: 1023.5px) {
  html { font-size: 36%; }
}
@media (min-width: 601px) and (max-width: 768px) {
  .logo:hover img { transform: scale(1.1); }
  .logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
  .logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
  .menu a { color: white; text-decoration: none; font-size: 2.2rem; text-transform: uppercase; padding: 1rem 1.5rem; position: relative; margin: 0rem 2rem; }
  .menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
  .menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -4%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
  .menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
  .search-part form { position: absolute; top: 0%; left: 0%; width: 100%; border: 0.2rem solid white; border-radius: 5rem; }
  #search { width: 61%; padding: 1rem; background-color: transparent; border: none; color: white; }
  .search-part input[type="submit"] { width: 37%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; }
  .active .menu { transform: translateX(0%); opacity: 1; visibility: visible; pointer-events: auto; }
  .navbar .mobile-nav-btn { display: block; z-index: 999; }
  .active .mobile-nav-btn .mobile-navbar-icon { display: block; }
  .active .mobile-navbar-icon[name="menu-outline"] { display: none; }
  html { font-size: 62.5%; }
  .h-1 { font-size: 9rem; line-height: normal; }
  .h-2 { font-size: 5.5rem; line-height: normal; }
  .h-3 { font-size: 5rem; }
  .s-h { font-size: 3rem; }
  p { font-size: 1.8rem; }
  header { }
  .navbar { overflow: hidden; }
  .logo { width: 5rem; height: 4rem; }
  .logo:hover img { transform: scale(1.1); }
  .logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
  .logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
  .menu { width: 58.2%; height: 0px; position: relative; top: 3.2rem; left: 45.6%; flex-direction: column; transition: all 0.4s linear 0s; transform: translateX(100%); opacity: 0; visibility: hidden; pointer-events: none; }
  .menu ul { justify-content: space-evenly; padding: 2rem 0rem 7rem; flex-direction: column; width: 100%; position: relative; height: 30rem; background: black; text-align: center; }
  .menu a { margin: 0rem; font-size: 1.8rem; }
  .menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
  .menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -4%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
  .menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
  .search-part { position: absolute; top: 23rem; right: 0%; width: 80%; }
  .search-part form { position: absolute; top: 0%; left: 0%; width: 77%; border: 0.2rem solid white; border-radius: 5rem; }
  #search { width: 55%; padding: 1rem; background-color: transparent; border: none; }
  .search-part input[type="submit"] { width: 27%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; }
  .hero { width: 100%; height: 100%; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; place-items: center; }
  .h-writing { padding-top: 5rem; }
  .h-writing p:nth-child(2) { padding: 4rem 0rem 3rem; }
  .h-btn { padding: 2rem 0rem; }
  .h-btn button:hover { animation: 0s ease 0s 1 normal none running none; }
  .h-img { height: 46rem; }
  .h-img img:nth-child(1) { width: 40rem; height: 40rem; top: 0rem; left: 15%; }
  .h-img img:nth-child(2) { left: 0%; width: 12rem; height: 12rem; top: 30rem; }
  .h-leaf img { top: -21rem; width: 30rem; height: 30rem; }
  .h-leaf { height: 0rem; }
  .s-1-writing p { padding: 4rem 0rem; width: 100%; }
  .s-1-b-p { grid-template-columns: 1fr; gap: 2rem; padding-top: 3rem; }
  .s-1-b img { width: 65%; }
  .s-1-b h2 { padding-left: 0px; padding-top: 0rem; text-align: center; }
  .s-1-b p { text-align: center; padding: 1rem 0rem 3rem; }
  .s-1-btn { padding-top: 3rem; }
  .s-1-btn button { padding: 1.3rem 3rem; font-size: 2.2rem; }
  .s-2-b-p { padding: 4rem 0rem; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; gap: 3rem; }
  .s-2-btn { width: 100%; display: grid; justify-content: center; padding-top: 2rem; }
  .s-2-btn button { padding: 1rem 2rem; font-size: 2rem; }
  .s-2-btn button:hover { transform: scale(1.1); box-shadow: gray 0.2rem 0.2rem 0.5rem; }
  .s-3-row1 { grid-template-columns: 1fr; grid-template-rows: auto; place-items: center; }
  .s-3-row1-img img { width: 80%; }
  .s-3-row1-writing h3 { width: 100%; }
  .s-3-row1-writing p { padding: 2rem 0rem 4rem; width: 100%; text-align: justify; }
  .s-3-row1 button { padding: 1rem 3rem; font-size: 2rem; }
  .s-3-row1-img:nth-child(2) { text-align: center; }
  .s-3-row1-img:nth-child(2) img { text-align: start; }
  .s-3-row1-writing:nth-child(1) { grid-row: 2 / 3; width: 100%; }
  .s-3-row1-writing:nth-child(1) h3 { margin: 0px; padding: 0px; width: 100%; }
  .s-3-row1-writing:nth-child(1) p { margin-left: 0px; padding: 1rem 0rem 3rem; text-align: justify; }
  .s-3-row1-writing:nth-child(1) button { position: relative; right: 0%; }
  #s-4 { background: url("../img/header-bg.png") 0% 0% / 100% 100% no-repeat; height: auto; }
  .cover-img { position: relative; bottom: 63rem; }
  .s-4-writing { text-align: center; color: white; }
  .s-4-writing h3 { font-size: 4rem; }
  .s-4-writing p { width: 75%; padding: 3rem 0rem; text-align: center; margin: auto; }
  .s-4-img { height: 24rem; }
  .s-4-img img { top: 17rem; left: 10%; height: 40rem; }
  .s-5-b-p { padding-top: 5rem; display: grid; grid-template-columns: auto; grid-template-rows: auto; gap: 2rem; align-items: center; justify-content: center; }
  .s-5-b h4 { font-size: 3.5rem; padding: 1rem 0rem; }
  .s-5-writing { padding-top: 4rem; width: 100%; margin: 0px; text-align: justify; }
  .s-5-writing p:nth-child(2) { padding-top: 4rem; text-align: center; }
  .s-6-writing p { padding: 3rem 0rem; width: 100%; margin: 0px; }
  .s-6-form form #email { font-size: 1.6rem; }
  .s-6-form input[type="submit"] { font-size: 1.6rem; }
  #s-7 { font-family: Montserrat, sans-serif; }
  .s-7 { grid-template-columns: 1fr; justify-items: start; gap: 5rem; }
  .details { grid-column: 1 / 4; }
  .details-icon-part a i { color: white; font-size: 2rem; margin: 0.5rem; }
  .details-icon-part a i::before { padding: 0.8rem; background-color: rgb(52, 52, 52); border-radius: 5rem; }
  .about li { padding: 1rem 0rem; }
  .about a { font-size: 2rem; color: gray; }
}
@media (min-width: 425px) and (max-width: 600px) {
  .logo:hover img { transform: scale(1.1); }
  .logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
  .logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
  .menu a { color: white; text-decoration: none; font-size: 2.2rem; text-transform: uppercase; padding: 1rem 1.5rem; position: relative; margin: 0rem 2rem; }
  .menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
  .menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -4%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
  .menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
  .search-part form { position: absolute; top: 0%; left: 0%; width: 100%; border: 0.2rem solid white; border-radius: 5rem; }
  #search { width: 61%; padding: 1rem; background-color: transparent; border: none; color: white; }
  .search-part input[type="submit"] { width: 37%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; }
  .active .menu { transform: translateX(0%); opacity: 1; visibility: visible; pointer-events: auto; }
  .navbar .mobile-nav-btn { display: block; z-index: 999; }
  .active .mobile-nav-btn .mobile-navbar-icon { display: block; }
  .active .mobile-navbar-icon[name="menu-outline"] { display: none; }
  html { font-size: 55.7%; }
  .h-1 { font-size: 9rem; line-height: normal; }
  .h-2 { font-size: 5.5rem; line-height: normal; }
  .h-3 { font-size: 5rem; }
  .s-h { font-size: 3rem; }
  p { font-size: 1.8rem; }
  .navbar { overflow: hidden; }
  .logo { width: 5rem; height: 4rem; }
  .logo:hover img { transform: scale(1.1); }
  .logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
  .logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
  .menu { width: 58.2%; height: 0px; position: relative; top: 3.2rem; left: 45.6%; flex-direction: column; transition: all 0.4s linear 0s; transform: translateX(100%); opacity: 0; visibility: hidden; pointer-events: none; }
  .menu ul { justify-content: space-evenly; padding: 2rem 0rem 7rem; flex-direction: column; width: 100%; position: relative; height: 30rem; background: black; text-align: center; }
  .menu a { margin: 0rem; font-size: 1.8rem; }
  .menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
  .menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -4%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
  .menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
  .search-part { position: absolute; top: 23rem; right: 0%; width: 80%; }
  .search-part form { position: absolute; top: 0%; left: 0%; width: 77%; border: 0.2rem solid white; border-radius: 5rem; }
  #search { width: 90%; padding: 1rem; background-color: transparent; border: none; }
  .search-part input[type="submit"] { width: 27%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; display: none; }
  .hero { width: 100%; height: 100%; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; place-items: center; }
  .h-writing { padding-top: 5rem; }
  .h-writing p:nth-child(2) { padding: 4rem 0rem 3rem; }
  .h-btn { padding: 2rem 0rem; }
  .h-btn button:hover { animation: 0s ease 0s 1 normal none running none; }
  .h-img { height: 46rem; }
  .h-img img:nth-child(1) { width: 40rem; height: 40rem; top: 0rem; left: 15%; }
  .h-img img:nth-child(2) { left: 0%; width: 12rem; height: 12rem; top: 30rem; }
  .h-leaf img { top: -21rem; width: 30rem; height: 30rem; }
  .h-leaf { height: 0rem; }
  .s-1-writing p { padding: 4rem 0rem; width: 100%; }
  .s-1-b-p { grid-template-columns: 1fr; gap: 2rem; padding-top: 3rem; }
  .s-1-b img { width: 65%; }
  .s-1-b h2 { padding-left: 0px; padding-top: 0rem; text-align: center; }
  .s-1-b p { text-align: center; padding: 1rem 0rem 3rem; }
  .s-1-btn { padding-top: 3rem; }
  .s-1-btn button { padding: 1.3rem 3rem; font-size: 2.2rem; }
  .s-2-b-p { padding: 4rem 0rem; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; gap: 3rem; }
  .s-2-btn { width: 100%; display: grid; justify-content: center; padding-top: 2rem; }
  .s-2-btn button { padding: 1rem 2rem; font-size: 2rem; }
  .s-2-btn button:hover { transform: scale(1.1); box-shadow: gray 0.2rem 0.2rem 0.5rem; }
  .s-3-row1 { grid-template-columns: 1fr; grid-template-rows: auto; place-items: center; }
  .s-3-row1-img img { width: 80%; }
  .s-3-row1-writing h3 { width: 100%; }
  .s-3-row1-writing p { padding: 2rem 0rem 4rem; width: 100%; text-align: justify; }
  .s-3-row1 button { padding: 1rem 3rem; font-size: 2rem; }
  .s-3-row1-img:nth-child(2) { text-align: center; }
  .s-3-row1-img:nth-child(2) img { text-align: start; }
  .s-3-row1-writing:nth-child(1) { grid-row: 2 / 3; width: 100%; }
  .s-3-row1-writing:nth-child(1) h3 { margin: 0px; padding: 0px; width: 100%; }
  .s-3-row1-writing:nth-child(1) p { margin-left: 0px; padding: 1rem 0rem 3rem; text-align: justify; }
  .s-3-row1-writing:nth-child(1) button { position: relative; right: 0%; }
  #s-4 { background: url("../img/header-bg.png") 0% 0% / 100% 100% no-repeat; height: auto; }
  .cover-img { position: relative; bottom: 63rem; }
  .s-4-writing { text-align: center; color: white; }
  .s-4-writing h3 { font-size: 4rem; }
  .s-4-writing p { width: 75%; padding: 3rem 0rem; text-align: center; margin: auto; }
  .s-4-img { height: 24rem; }
  .s-4-img img { top: 17rem; left: 10%; height: 40rem; }
  .s-5-b-p { padding-top: 5rem; display: grid; grid-template-columns: auto; grid-template-rows: auto; gap: 2rem; align-items: center; justify-content: center; }
  .s-5-b h4 { font-size: 3.5rem; padding: 1rem 0rem; }
  .s-5-writing { padding-top: 4rem; width: 100%; margin: 0px; text-align: justify; }
  .s-5-writing p:nth-child(2) { padding-top: 4rem; text-align: center; }
  .s-6-writing p { padding: 3rem 0rem; width: 100%; margin: 0px; }
  .s-6-form form #email { font-size: 1.6rem; }
  .s-6-form input[type="submit"] { font-size: 1.6rem; }
  #s-7 { font-family: Montserrat, sans-serif; }
  .s-7 { grid-template-columns: 1fr; justify-items: start; gap: 5rem; }
  .details { grid-column: 1 / 4; }
  .details-icon-part a i { color: white; font-size: 2rem; margin: 0.5rem; }
  .details-icon-part a i::before { padding: 0.8rem; background-color: rgb(52, 52, 52); border-radius: 5rem; }
  .about ul { padding: 1rem 0rem; }
  .about li { padding: 0.5rem 0rem; }
  .about a { font-size: 2rem; color: gray; }
  .services ul { padding: 1rem 0rem; }
  .services li { padding: 0.5rem 0rem; }
  .others ul { padding: 1rem 0rem; }
  .others li { padding: 0.5rem 0rem; }
}
@media (min-width: 321px) and (max-width: 424px) {
  .logo:hover img { transform: scale(1.1); }
  .logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
  .logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
  .menu a { color: white; text-decoration: none; font-size: 2.2rem; text-transform: uppercase; padding: 1rem 1.5rem; position: relative; margin: 0rem 2rem; }
  .menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
  .menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -4%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
  .menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
  .search-part form { position: absolute; top: 0%; left: 0%; width: 100%; border: 0.2rem solid white; border-radius: 5rem; }
  #search { width: 61%; padding: 1rem; background-color: transparent; border: none; color: white; }
  .search-part input[type="submit"] { width: 37%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; }
  .active .menu { transform: translateX(0%); opacity: 1; visibility: visible; pointer-events: auto; }
  .navbar .mobile-nav-btn { display: block; z-index: 999; }
  .active .mobile-nav-btn .mobile-navbar-icon { display: block; }
  .active .mobile-navbar-icon[name="menu-outline"] { display: none; }
  html { font-size: 42%; }
  .h-1 { font-size: 9rem; line-height: normal; }
  .h-2 { font-size: 5.5rem; line-height: normal; }
  .h-3 { font-size: 5rem; }
  .s-h { font-size: 3rem; }
  p { font-size: 1.8rem; }
  .navbar { overflow: hidden; }
  .logo { width: 5rem; height: 4rem; }
  .logo:hover img { transform: scale(1.1); }
  .logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
  .logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
  .menu { width: 58.2%; height: 0px; position: relative; top: 3.2rem; left: 45.6%; flex-direction: column; transition: all 0.4s linear 0s; transform: translateX(100%); opacity: 0; visibility: hidden; pointer-events: none; }
  .menu ul { justify-content: space-evenly; padding: 2rem 0rem 7rem; flex-direction: column; width: 100%; position: relative; height: 30rem; background: black; text-align: center; }
  .menu a { margin: 0rem; font-size: 1.8rem; }
  .menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
  .menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -4%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
  .menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
  .search-part { position: absolute; top: 23rem; right: 0%; width: 80%; }
  .search-part form { position: absolute; top: 0%; left: 0%; width: 77%; border: 0.2rem solid white; border-radius: 5rem; }
  #search { width: 90%; padding: 1rem; background-color: transparent; border: none; }
  .search-part input[type="submit"] { width: 27%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; display: none; }
  .hero { width: 100%; height: 100%; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; place-items: center; }
  .h-writing { padding-top: 5rem; }
  .h-writing p:nth-child(2) { padding: 4rem 0rem 3rem; }
  .h-btn { padding: 2rem 0rem; }
  .h-btn button:hover { animation: 0s ease 0s 1 normal none running none; }
  .h-img { height: 46rem; }
  .h-img img:nth-child(1) { width: 40rem; height: 40rem; top: 0rem; left: 15%; }
  .h-img img:nth-child(2) { left: 0%; width: 12rem; height: 12rem; top: 30rem; }
  .h-leaf img { top: -21rem; width: 30rem; height: 30rem; }
  .h-leaf { height: 0rem; }
  .s-1-writing p { padding: 4rem 0rem; width: 100%; }
  .s-1-b-p { grid-template-columns: 1fr; gap: 2rem; padding-top: 3rem; }
  .s-1-b img { width: 65%; }
  .s-1-b h2 { padding-left: 0px; padding-top: 0rem; text-align: center; }
  .s-1-b p { text-align: center; padding: 1rem 0rem 3rem; }
  .s-1-btn { padding-top: 3rem; }
  .s-1-btn button { padding: 1.3rem 3rem; font-size: 2.2rem; }
  .s-2-b-p { padding: 4rem 0rem; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; gap: 3rem; }
  .s-2-btn { width: 100%; display: grid; justify-content: center; padding-top: 2rem; }
  .s-2-btn button { padding: 1rem 2rem; font-size: 2rem; }
  .s-2-btn button:hover { transform: scale(1.1); box-shadow: gray 0.2rem 0.2rem 0.5rem; }
  .s-3-row1 { grid-template-columns: 1fr; grid-template-rows: auto; place-items: center; }
  .s-3-row1-img img { width: 80%; }
  .s-3-row1-writing h3 { width: 100%; }
  .s-3-row1-writing p { padding: 2rem 0rem 4rem; width: 100%; text-align: justify; }
  .s-3-row1 button { padding: 1rem 3rem; font-size: 2rem; }
  .s-3-row1-img:nth-child(2) { text-align: center; }
  .s-3-row1-img:nth-child(2) img { text-align: start; }
  .s-3-row1-writing:nth-child(1) { grid-row: 2 / 3; width: 100%; }
  .s-3-row1-writing:nth-child(1) h3 { margin: 0px; padding: 0px; width: 100%; }
  .s-3-row1-writing:nth-child(1) p { margin-left: 0px; padding: 1rem 0rem 3rem; text-align: justify; }
  .s-3-row1-writing:nth-child(1) button { position: relative; right: 0%; }
  #s-4 { background: url("../img/header-bg.png") 0% 0% / 100% 100% no-repeat; height: auto; }
  .cover-img { position: relative; bottom: 63rem; }
  .s-4-writing { text-align: center; color: white; }
  .s-4-writing h3 { font-size: 4rem; }
  .s-4-writing p { width: 75%; padding: 3rem 0rem; text-align: center; margin: auto; }
  .s-4-img { height: 24rem; }
  .s-4-img img { top: 17rem; left: 10%; height: 40rem; width: 85%; }
  .s-5-b-p { padding-top: 5rem; display: grid; grid-template-columns: auto; grid-template-rows: auto; gap: 2rem; align-items: center; justify-content: center; }
  .s-5-b h4 { font-size: 3.5rem; padding: 1rem 0rem; }
  .s-5-writing { padding-top: 4rem; width: 100%; margin: 0px; text-align: justify; }
  .s-5-writing p:nth-child(2) { padding-top: 4rem; text-align: center; }
  .s-6-writing p { padding: 3rem 0rem; width: 100%; margin: 0px; }
  .s-6-form form #email { font-size: 1.6rem; }
  .s-6-form input[type="submit"] { font-size: 1.6rem; }
  #s-7 { font-family: Montserrat, sans-serif; }
  .s-7 { grid-template-columns: 1fr; justify-items: start; gap: 5rem; }
  .details { grid-column: 1 / 4; }
  .details-icon-part a i { color: white; font-size: 2rem; margin: 0.5rem; }
  .details-icon-part a i::before { padding: 0.8rem; background-color: rgb(52, 52, 52); border-radius: 5rem; }
  .about ul { padding: 1rem 0rem; }
  .about li { padding: 0.5rem 0rem; }
  .about a { font-size: 2rem; color: gray; }
  .services ul { padding: 1rem 0rem; }
  .services li { padding: 0.5rem 0rem; }
  .others ul { padding: 1rem 0rem; }
  .others li { padding: 0.5rem 0rem; }
}
@media only screen and (max-width: 320px) {
  .logo:hover img { transform: scale(1.1); }
  .logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
  .logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
  .menu a { color: white; text-decoration: none; font-size: 2.2rem; text-transform: uppercase; padding: 1rem 1.5rem; position: relative; margin: 0rem 2rem; }
  .menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
  .menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -4%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
  .menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
  .search-part form { position: absolute; top: 0%; left: 0%; width: 100%; border: 0.2rem solid white; border-radius: 5rem; }
  #search { width: 61%; padding: 1rem; background-color: transparent; border: none; color: white; }
  .search-part input[type="submit"] { width: 37%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; }
  .active .menu { transform: translateX(0%); opacity: 1; visibility: visible; pointer-events: auto; }
  .navbar .mobile-nav-btn { display: block; z-index: 999; }
  .active .mobile-nav-btn .mobile-navbar-icon { display: block; }
  .active .mobile-navbar-icon[name="menu-outline"] { display: none; }
  html { font-size: 31%; }
  .h-1 { font-size: 9rem; line-height: normal; }
  .h-2 { font-size: 5.5rem; line-height: normal; }
  .h-3 { font-size: 5rem; }
  .s-h { font-size: 3rem; }
  p { font-size: 1.8rem; }
  .navbar { overflow: hidden; }
  .logo { width: 5rem; height: 4rem; }
  .logo:hover img { transform: scale(1.1); }
  .logo a { width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; }
  .logo img { position: absolute; width: 100%; height: 100%; top: 0%; left: 0%; transition: all 0.4s ease 0s; }
  .menu { width: 58.2%; height: 0px; position: relative; top: 3.2rem; left: 45.6%; flex-direction: column; transition: all 0.4s linear 0s; transform: translateX(100%); opacity: 0; visibility: hidden; pointer-events: none; }
  .menu ul { justify-content: space-evenly; padding: 2rem 0rem 7rem; flex-direction: column; width: 100%; position: relative; height: 30rem; background: black; text-align: center; }
  .menu a { margin: 0rem; font-size: 1.8rem; }
  .menu a::after { content: ""; position: absolute; width: 10%; height: 22%; top: -4%; right: -2.5%; border-top: 0.4rem solid rgb(252, 208, 1); border-right: 0.4rem solid rgb(252, 208, 1); transition: all 0.4s linear 0s; opacity: 0; }
  .menu a::before { content: ""; position: absolute; width: 10%; height: 22%; border-bottom: 0.4rem solid rgb(252, 208, 1); border-left: 0.4rem solid rgb(252, 208, 1); bottom: -4%; left: -2.5%; transition: all 0.4s linear 0s; opacity: 0; }
  .menu a:hover::before, .menu a:hover::after { width: 100%; height: 100%; opacity: 1; }
  .search-part { position: absolute; top: 23rem; right: 0%; width: 80%; }
  .search-part form { position: absolute; top: 0%; left: 0%; width: 77%; border: 0.2rem solid white; border-radius: 5rem; }
  #search { width: 90%; padding: 1rem; background-color: transparent; border: none; }
  .search-part input[type="submit"] { width: 27%; padding: 1rem; position: relative; left: -1%; background-color: transparent; color: white; border: navajowhite; display: none; }
  .hero { width: 100%; height: 100%; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; place-items: center; }
  .h-writing { padding-top: 5rem; }
  .h-writing p:nth-child(2) { padding: 4rem 0rem 3rem; }
  .h-btn { padding: 2rem 0rem; }
  .h-btn button:hover { animation: 0s ease 0s 1 normal none running none; }
  .h-img { height: 46rem; }
  .h-img img:nth-child(1) { width: 40rem; height: 40rem; top: 0rem; left: 15%; }
  .h-img img:nth-child(2) { left: 0%; width: 12rem; height: 12rem; top: 30rem; }
  .h-leaf img { top: -21rem; width: 30rem; height: 30rem; }
  .h-leaf { height: 0rem; }
  .s-1-writing p { padding: 4rem 0rem; width: 100%; }
  .s-1-b-p { grid-template-columns: 1fr; gap: 2rem; padding-top: 3rem; }
  .s-1-b img { width: 65%; }
  .s-1-b h2 { padding-left: 0px; padding-top: 0rem; text-align: center; }
  .s-1-b p { text-align: center; padding: 1rem 0rem 3rem; }
  .s-1-btn { padding-top: 3rem; }
  .s-1-btn button { padding: 1.3rem 3rem; font-size: 2.2rem; }
  .s-2-b-p { padding: 4rem 0rem; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; gap: 3rem; }
  .s-2-btn { width: 100%; display: grid; justify-content: center; padding-top: 2rem; }
  .s-2-btn button { padding: 1rem 2rem; font-size: 2rem; }
  .s-2-btn button:hover { transform: scale(1.1); box-shadow: gray 0.2rem 0.2rem 0.5rem; }
  .s-3-row1 { grid-template-columns: 1fr; grid-template-rows: auto; place-items: center; }
  .s-3-row1-img img { width: 80%; }
  .s-3-row1-writing h3 { width: 100%; }
  .s-3-row1-writing p { padding: 2rem 0rem 4rem; width: 100%; text-align: justify; }
  .s-3-row1 button { padding: 1rem 3rem; font-size: 2rem; }
  .s-3-row1-img:nth-child(2) { text-align: center; }
  .s-3-row1-img:nth-child(2) img { text-align: start; }
  .s-3-row1-writing:nth-child(1) { grid-row: 2 / 3; width: 100%; }
  .s-3-row1-writing:nth-child(1) h3 { margin: 0px; padding: 0px; width: 100%; }
  .s-3-row1-writing:nth-child(1) p { margin-left: 0px; padding: 1rem 0rem 3rem; text-align: justify; }
  .s-3-row1-writing:nth-child(1) button { position: relative; right: 0%; }
  #s-4 { background: url("../img/header-bg.png") 0% 0% / 100% 100% no-repeat; height: auto; }
  .cover-img { position: relative; bottom: 63rem; }
  .s-4-writing { text-align: center; color: white; }
  .s-4-writing h3 { font-size: 4rem; }
  .s-4-writing p { width: 75%; padding: 3rem 0rem; text-align: center; margin: auto; }
  .s-4-img { height: 24rem; }
  .s-4-img img { top: 17rem; left: 10%; height: 40rem; }
  .s-5-b-p { padding-top: 5rem; display: grid; grid-template-columns: auto; grid-template-rows: auto; gap: 2rem; align-items: center; justify-content: center; }
  .s-5-b h4 { font-size: 3.5rem; padding: 1rem 0rem; }
  .s-5-writing { padding-top: 4rem; width: 100%; margin: 0px; text-align: justify; }
  .s-5-writing p:nth-child(2) { padding-top: 4rem; text-align: center; }
  .s-6-writing p { padding: 3rem 0rem; width: 100%; margin: 0px; }
  .s-6-form form #email { font-size: 1.6rem; }
  .s-6-form input[type="submit"] { font-size: 1.6rem; }
  #s-7 { font-family: Montserrat, sans-serif; }
  .s-7 { grid-template-columns: 1fr; justify-items: start; gap: 5rem; }
  .details { grid-column: 1 / 4; }
  .details-icon-part a i { color: white; font-size: 2rem; margin: 0.5rem; }
  .details-icon-part a i::before { padding: 0.8rem; background-color: rgb(52, 52, 52); border-radius: 5rem; }
  .about ul { padding: 1rem 0rem; }
  .about li { padding: 0.5rem 0rem; }
  .about a { font-size: 2rem; color: gray; }
  .services ul { padding: 1rem 0rem; }
  .services li { padding: 0.5rem 0rem; }
  .others ul { padding: 1rem 0rem; }
  .others li { padding: 0.5rem 0rem; }
}
